*, ::after, ::before {
  box-sizing: inherit;
}

#event-list {
  margin: auto;
  padding: 12px;
  width: 700px;
  max-width: 100%;
}
#event-list a, #event-list a:hover {
  text-decoration: none;
}

#event {
  max-width: 1160px;
  margin: 0 auto;
}
#event > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
}
#event .event-title {
  padding: 1rem;
}
#event .event-tag-list {
  padding: 0 1rem;
}
#event .event-tag-list > a > button {
  padding: 0 8px !important;
  height: 30px;
  line-height: 25px;
  font-size: 15px;
}
#event .event-description-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: -1rem;
  padding: 1rem;
}
#event .event-description-wrapper .event-metadata {
  min-width: 20rem;
  flex: 1;
  margin: 0 1rem;
  display: block;
}
#event .event-description-wrapper .event-metadata img {
  height: auto !important;
  min-height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
#event .event-description-wrapper .event-metadata h4 {
  margin: 0.5rem 0 !important;
}
#event .event-description-wrapper .event-metadata .eventMetaDataBlock {
  margin-bottom: 1rem;
}
#event .event-description-wrapper article.event-description {
  min-width: 20rem;
  margin: 0 1rem 1rem 1rem;
  flex: 2;
  padding-bottom: 1rem;
}
#event .event-description-wrapper article.event-description p {
  padding: 0.5rem 0;
}
#event hr {
  margin: 0 1rem;
}
#event footer.event-url {
  padding: 1rem;
  margin: 1rem 0;
}

#event-card-list {
  width: 1160px;
  max-width: 100%;
  margin: 12px auto 150px auto;
}

.event-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.event-card-container {
  width: 33.33333333%;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .event-card-container {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .event-card-container {
    width: 100%;
  }
}

.event-card {
  margin: 10px;
  display: block;
  text-decoration: none;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.event-card figure.event-card-image {
  position: relative;
  display: block;
}
.event-card figure.event-card-image > img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
  border-radius: 8px 8px 0 0;
  outline: none !important;
  border: 0 !important;
  max-width: 100% !important;
}
.event-card figure.event-card-image > .tag-container {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: -3px;
  z-index: 10;
  width: 100px;
  height: 100px;
  z-index: 10;
}
.event-card figure.event-card-image > .tag-container > span {
  margin: 5px auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-size: 0.9em;
  line-height: 1.75em;
  background-color: var(--global--color-yellow, #e6e4f4);
  color: #3c376e;
  border-radius: 4px;
  white-space: nowrap;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.event-card .card-content {
  margin: 0;
  padding: 10px 8px;
  border-radius: 0 0 8px 8px;
  background-color: var(--button--color-background, #eee);
  color: var(--button--color-text, #111);
  min-height: 60px;
}
.event-card .card-content .media-left {
  margin-top: -15px;
  height: 0;
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  margin-bottom: 15px;
  margin-left: 0;
}
.event-card .card-content .media-left .datetime-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  align-items: stretch;
  width: calc(40px*1.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  height: calc(40px*1.2);
  background: var(--cover--color-foreground, #fff);
  z-index: 3;
}
.event-card .card-content .media-left .datetime-container .datetime-container-header {
  height: calc(10px*1.2);
  background: #f3425f;
}
.event-card .card-content .media-left .datetime-container .datetime-container-content {
  height: calc(30px*1.2);
}
.event-card .card-content .media-left .datetime-container .datetime-container-content span {
  color: var(--global--color-primary, black);
  font-weight: 600;
  display: block;
}
.event-card .card-content .media-left .datetime-container .datetime-container-content .day {
  font-size: calc(16px*1.2);
  line-height: calc(16px*1.2);
}
.event-card .card-content .media-left .datetime-container .datetime-container-content .month {
  padding: 2px 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.event-card .card-content h4.event-title {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.is-16by9 {
  aspect-ratio: 16/9;
}

.event-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.intro-wrapper {
  position: relative;
}

.date-calendar-icon-wrapper {
  margin-top: 16px;
  height: 0;
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  margin-bottom: 7px;
  margin-left: 0;
  padding: 0 1rem;
}
.date-calendar-icon-wrapper .datetime-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  align-items: stretch;
  width: calc(40px*2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  height: calc(40px*2);
  background: var(--cover--color-foreground, #fff);
  z-index: 3;
}
.date-calendar-icon-wrapper .datetime-container .datetime-container-header {
  height: calc(10px*2);
  background: #f3425f;
}
.date-calendar-icon-wrapper .datetime-container .datetime-container-content {
  height: calc(30px*2);
}
.date-calendar-icon-wrapper .datetime-container .datetime-container-content span {
  color: var(--global--color-primary, black);
  font-weight: 600;
  display: block;
}
.date-calendar-icon-wrapper .datetime-container .datetime-container-content .day {
  font-size: calc(16px*2);
  line-height: calc(16px*2);
}
.date-calendar-icon-wrapper .datetime-container .datetime-container-content .month {
  padding: 2px 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}/*# sourceMappingURL=mobilizon-mirror-public.css.map */