/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 @import "tooltips";

.mobilizon-mirror-settings-wrapper {
   form {
      width: 100%;
  
   }
  
   fieldset {
      width:100%;
   }
  
   legend {
      margin:0;
      padding: 0;
  
   }
  .components-base-control__wrapper {
     width:100%;
     display: flex;
     margin: -10px;
     flex-wrap: wrap;
  }
  
   #mobilizon-mirror-logo {
      aspect-ratio: 7/1;
      background-image: url(../images/mobilizon-mirror-logo.svg);
      width: 400px;
      background-size: cover;
   }
  
   label {
     display: blocK;
     margin-bottom: 8px;
     font-size: 15px;
     cursor: default;
     .label-info-button {
        margin-left: 5px;
      
     }
   }
  
   .components-base-control__field {
      margin: 10px;
      width: 300px;
      max-width: 100%;
   }
  
   input.textfield {
     width: 300px;
     font-size: 16px;
     padding: 10px;
     height: 35px;
     outline: 0;
     font-family: inherit;
     resize: vertical;
     border: 0px solid #0a0b0e;
     border-radius: 4px;
   }
  
  .image img.is-rounded {
     border-radius: 9999px;
  }
  
  .image img {
     display: block;
     height: auto;
     width: 100%;
  }
  
  .input-valid {
     border-color: #41b922!important;
     box-shadow: 0 0 0 1px #41b922!important;
     background-color: #eeffea!important;
  }
  
  .input-warning {
     border-color: red!important;
     box-shadow: 0 0 0 1px red!important;
     background-color: rgb(255, 220, 220);
  }
  
  .input-disabled {
     cursor: not-allowed!important;
     background-color: #eee!important;
     color: #eee!important;
     border: 1px solid #ccc!important;
  }
  
  
  .form-control-feedback {
     position: absolute;
     top: 0;
     right: 0;
     z-index: 2;
     display: block;
     width: 34px;
     height: 34px;
     line-height: 34px;
     text-align: center;
     pointer-events: none;
     font-size: 25px;
  }
  
  
  
  .icon-warning {
     color: red;
  }
  .icon-warning::before {
     content: "\26A0";
  }
  
  .icon-valid {
     color: #41b922;
  }
  .icon-valid::before {
     content: "\2713";
  }
  
  
  .input-wrapper {
     position: relative;
  }
  
    margin-top: 20px;
    legend > h2 {
        font-size: 30px;
        margin-top: 50px;
    }
    .radio-input-wrapper {
        label {
            display: inline;
        }
    }
    form p.submit input#submit {
       font-size: 1.3rem;
    }

}


.mobilizon-mirror-faq-wrapper {
   margin-top: 1rem;
   width: 700px;
   max-width: 100%;
   #mobilizon-mirror-logo {
      aspect-ratio: 7/1;
      background-image: url(../images/mobilizon-mirror-logo.svg);
      width: 400px;
      background-size: cover;
   }
   h1 {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
   }
   h2 {
      margin-top:1.5rem;
      margin-bottom: 0.5rem;
   }
}