@charset "UTF-8";
/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.tooltip {
  position: relative;
}
.tooltip::after {
  background: rgba(48, 55, 66, 0.95);
  border-radius: 0.1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 0.7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, 0.4rem);
  transition: opacity 0.2s, transform 0.2s;
  white-space: pre;
  z-index: 300;
}
.tooltip:focus::after, .tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -0.2rem);
}
.tooltip[disabled], .tooltip.disabled {
  pointer-events: auto;
}
.tooltip.tooltip-right::after {
  bottom: 50%;
  left: 100%;
  transform: translate(-0.2rem, 50%);
}
.tooltip.tooltip-right:focus::after, .tooltip.tooltip-right:hover::after {
  transform: translate(0.2rem, 50%);
}
.tooltip.tooltip-bottom::after {
  bottom: auto;
  top: 100%;
  transform: translate(-50%, -0.4rem);
}
.tooltip.tooltip-bottom:focus::after, .tooltip.tooltip-bottom:hover::after {
  transform: translate(-50%, 0.2rem);
}
.tooltip.tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(0.4rem, 50%);
}
.tooltip.tooltip-left:focus::after, .tooltip.tooltip-left:hover::after {
  transform: translate(-0.2rem, 50%);
}

.mobilizon-mirror-settings-wrapper {
  margin-top: 20px;
}
.mobilizon-mirror-settings-wrapper form {
  width: 100%;
}
.mobilizon-mirror-settings-wrapper fieldset {
  width: 100%;
}
.mobilizon-mirror-settings-wrapper legend {
  margin: 0;
  padding: 0;
}
.mobilizon-mirror-settings-wrapper .components-base-control__wrapper {
  width: 100%;
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
}
.mobilizon-mirror-settings-wrapper #mobilizon-mirror-logo {
  aspect-ratio: 7/1;
  background-image: url(../images/mobilizon-mirror-logo.svg);
  width: 400px;
  background-size: cover;
}
.mobilizon-mirror-settings-wrapper label {
  display: blocK;
  margin-bottom: 8px;
  font-size: 15px;
  cursor: default;
}
.mobilizon-mirror-settings-wrapper label .label-info-button {
  margin-left: 5px;
}
.mobilizon-mirror-settings-wrapper .components-base-control__field {
  margin: 10px;
  width: 300px;
  max-width: 100%;
}
.mobilizon-mirror-settings-wrapper input.textfield {
  width: 300px;
  font-size: 16px;
  padding: 10px;
  height: 35px;
  outline: 0;
  font-family: inherit;
  resize: vertical;
  border: 0px solid #0a0b0e;
  border-radius: 4px;
}
.mobilizon-mirror-settings-wrapper .image img.is-rounded {
  border-radius: 9999px;
}
.mobilizon-mirror-settings-wrapper .image img {
  display: block;
  height: auto;
  width: 100%;
}
.mobilizon-mirror-settings-wrapper .input-valid {
  border-color: #41b922 !important;
  box-shadow: 0 0 0 1px #41b922 !important;
  background-color: #eeffea !important;
}
.mobilizon-mirror-settings-wrapper .input-warning {
  border-color: red !important;
  box-shadow: 0 0 0 1px red !important;
  background-color: #ffdcdc;
}
.mobilizon-mirror-settings-wrapper .input-disabled {
  cursor: not-allowed !important;
  background-color: #eee !important;
  color: #eee !important;
  border: 1px solid #ccc !important;
}
.mobilizon-mirror-settings-wrapper .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  font-size: 25px;
}
.mobilizon-mirror-settings-wrapper .icon-warning {
  color: red;
}
.mobilizon-mirror-settings-wrapper .icon-warning::before {
  content: "⚠";
}
.mobilizon-mirror-settings-wrapper .icon-valid {
  color: #41b922;
}
.mobilizon-mirror-settings-wrapper .icon-valid::before {
  content: "✓";
}
.mobilizon-mirror-settings-wrapper .input-wrapper {
  position: relative;
}
.mobilizon-mirror-settings-wrapper legend > h2 {
  font-size: 30px;
  margin-top: 50px;
}
.mobilizon-mirror-settings-wrapper .radio-input-wrapper label {
  display: inline;
}
.mobilizon-mirror-settings-wrapper form p.submit input#submit {
  font-size: 1.3rem;
}

.mobilizon-mirror-faq-wrapper {
  margin-top: 1rem;
  width: 700px;
  max-width: 100%;
}
.mobilizon-mirror-faq-wrapper #mobilizon-mirror-logo {
  aspect-ratio: 7/1;
  background-image: url(../images/mobilizon-mirror-logo.svg);
  width: 400px;
  background-size: cover;
}
.mobilizon-mirror-faq-wrapper h1 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.mobilizon-mirror-faq-wrapper h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=mobilizon-mirror-admin.css.map */